* {
    box-sizing: border-box;
    text-align: center;
}

.model {
    background-color: rgb(113, 79, 238);
    display: flex;
    justify-content: center;
}


.square {
    width: 300px;
    height: 300px;
    padding: 30px;
    margin: 20px;
    border: 5px solid red;
    background-color: rgb(231, 166, 212);
}

.rounded {
    width: 350px;
    height: 250px;
    padding: 40px 50px;
    margin: 30px;
    border: 6px dotted green;
    background-color: rgb(164, 240, 170);
    border-radius: 30px;
}

.circle {
    width: 320px;
    height: 320px;
    padding: 35px;
    margin: 40px;
    border: 6px double blue;
    background-color: rgb(164, 201, 235);
    border-radius: 50%;
}