body {
  margin: 0;
}










/* Part 2 – Positioning & Layout */

.navbar {
  position: fixed;
  top: 0;
  width: 100%;
  background: black;
  height: 60px;
    z-index: 1;
}

.nav {
  display: flex;
  align-items: center;
  height: 100%;
  padding-left: 20px;
}

.nav a {
  color: white;
  text-decoration: none;
  margin-right: 20px;
}

.nav a:hover{
  color:#e74c3c;
  cursor: pointer;
}

.layout {
  display: flex;
  margin-top: 60px; 
}


.sidebar {
  width: 200px;
  background: #b3b1b1;
  padding: 20px;
  position: sticky;
  top: 60px; 
  height: 100vh;
}


.content {
    width: 500px;
  padding: 40px;
}


.card {
  width: 250px;
  box-shadow: 0 4px 8px rgba(0,0,0,0.2);
  padding: 10px;
  position: relative; 
  margin-bottom: 60px;
}

.card img {
  width: 100%;
}


.box-container {
  position: relative;
  height: 300px;
  background: #d9d3ea;
}

.box {
  position: absolute;
  width: 120px;
  height: 90px;
  padding: 15px;
  font-weight: bold;
  color: white;
}

.box1 {
  background: #f5d76e;
  top: 40px;
  left: 60px;
  z-index: 3;
  color: black;
}

.box2 {
  background: #e74c3c;
  top: 80px;
  left: 150px;
  z-index: 2;
}

.box3 {
  background: #27ae60;
  top: 120px;
  left: 250px;
  z-index: 1;
}


/* Part 3 – Pseudo-Classes & Elements */
 .list{
    padding: 90px;
  }
  li:nth-child(odd) {
  background-color: lightgreen;
}
  li:nth-child(even) {
  background-color: rgb(238, 144, 196);
}


h1 {
  position: relative;
  display: inline-block;
}

h1::after {
  content: "";
  position: absolute;
  left: 0;
  bottom: -5px;
  width: 50%;
  height: 3px;
  background-color: #4CAF50;
}

p {
  position: relative;
  display: inline-block;
}

p::before {
  content: "";
  position: absolute;
  left: 0;
  width: 50%;
  height: 5px;
  background-color: #b4c42b;
}

.quote-box {
  position: relative;
  background: #f4f7fb;
  padding: 30px;
  max-width: 500px;
  margin: 50px auto;
  border-left: 5px solid #4CAF50;
  font-style: italic;
  line-height: 1.8;
  font-size: 18px;
}

/* Opening quotation mark */
.quote-box::before {
  content: "“";
  position: absolute;
  top: -20px;
  left: 10px;
  font-size: 80px;
  color: #4CAF50;
  opacity: 0.3;
}

/* Drop cap effect */
.quote-box::first-letter {
  font-size: 45px;
  font-weight: bold;
  color: #4CAF50;
  float: left;
  margin-right: 8px;
  line-height: 1;
}


/* Part 4 – CSS Variables & Effects */
/* light Mode Variables */
:root {
  --bg-color: #f4f6f9;
  --card-bg: #ffffff;
  --text-color: #222;
  --primary: #4CAF50;
}

/* Dark Mode Variables */
#dark-mode:checked ~ .container {
  --bg-color: #1e1e1e;
  --card-bg: #2c2c2c;
  --text-color: #f1f1f1;
  --primary: #00c896;
}

   /* Card Component */

.container {
  background: var(--bg-color);
  color: var(--text-color);
  min-height: 100vh;
  padding: 40px;
  transition: 0.4s ease;
}

/* Card */
.card {
  background: var(--card-bg);
  padding: 20px;
  border-radius: 12px;
  box-shadow: 0 4px 12px rgba(0,0,0,0.1);
  transition: transform 1s ease 1s;
}

.card:hover{
  background-color: antiquewhite;
  color: black;
  cursor: pointer;
  transform:scale(0.8);
}

   /* Styled Table */

table {
  width: 100%;
  border-collapse: collapse;
  margin-bottom: var(--spacing);
}

th {
  background: var(--primary-color);
  color: white;
  padding: 10px;
}

td {
  padding: 10px;
  border-bottom: 1px solid #ccc;
}

   /* Styled List */

ul {
  list-style: none;
  padding: 0;
}

ul li {
  padding: 10px;
  margin-bottom: 5px;
  background: var(--card-bg);
  border-left: 4px solid var(--primary-color);
  transition: 0.3s;
}

ul li:hover {
  transform: translateX(5px);
}