/* light Mode Variables */
:root {
  --bg-color: #f4f6f9;
  --card-bg: #ffffff;
  --text-color: #222;
  --primary: #4CAF50;
}

/* Dark Mode Variables */
#dark-mode:checked ~ .container {
  --bg-color: #1e1e1e;
  --card-bg: #2c2c2c;
  --text-color: #f1f1f1;
  --primary: #00c896;
}

body {
  margin: 0;
  font-family: "Open Sans", sans-serif;
}


.container {
  background: var(--bg-color);
  color: var(--text-color);

}

/* Part 1 – Typography & Text Effects */
.shadow{
  text-shadow: 2px 2px #b3a6a6;
}
.transform{
  text-transform: uppercase;
}
.space{
  letter-spacing: 20%;
}
 .line-h{
   line-height: 3rem;
   text-overflow: ellipsis;
    white-space: nowrap; 
    width: 50px; 
    overflow: hidden;
    text-overflow: ellipsis; 

}


/* Part 2 – Positioning & Layout */

.navbar {
  position: fixed;
  top: 0;
  width: 100%;
  background: var(--card-bg);
  height: 60px;
  z-index: 1;
}

.nav {
  display: flex;
  align-items: center;
  height: 100%;
  padding-left: 20px;
}

.nav a {
  text-decoration: none;
  margin-right: 20px;
    color: var(--text-color);

}

.nav a:hover{
  color:#e74c3c;
  cursor: pointer;
}

.layout {
  display: flex;
  margin-top: 60px; 
}


.sidebar {
  width: 200px;
  background: var(--card-bg);
  padding: 20px;
  top: 60px; 
  height: 100vh;

}


.content {
  width: 500px;
  padding: 40px;
}


.card {
  width: 250px;
  background: var(--card-bg);
  box-shadow: 0 4px 8px rgba(0,0,0,0.2);
  padding: 10px;
  position: relative; 
  transition: transform 1s ease-in 1s;
}

.card:hover{
  transform: scale(0.8);
  cursor: pointer;

}

.card img {
  width: 100%;
}


.box-container {
  position: relative;
  height: 300px;
  background: var(--card-bg);
}

.box {
  position: absolute;
  width: 120px;
  height: 90px;
  padding: 15px;
  font-weight: bold;
}

.box1 {
  background: #f5d76e;
  top: 40px;
  left: 60px;
  z-index: 3;
}

.box2 {
  background: #e74c3c;
  top: 80px;
  left: 150px;
  z-index: 2;
}

.box3 {
  background: #27ae60;
  top: 120px;
  left: 250px;
  z-index: 1;
}


/* Part 3 – Pseudo-Classes & Elements */
 .list{
    padding: 90px;
  }
  li:nth-child(odd) {
  background-color: lightgreen;
}
  li:nth-child(even) {
  background-color: rgb(238, 144, 196);
}


h1 {
  position: relative;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

h1::after {
  content: "";
  position: absolute;
  left: 0;
  bottom: -5px;
  width: 50%;
  height: 3px;
  background-color: #4CAF50;
}

.sidebar p {
  position: relative;
  display: inline-block;
}

.sidebar p::before {
  content: "";
  position: absolute;
  left: 0;
  width: 50%;
  height: 5px;
  background-color: #b4c42b;
}

.quote-box {
  position: relative;
  background: var(--card-bg);
  border-left: 5px solid var(--primary); 
   padding: 30px;
  max-width: 500px;
  margin: 50px auto;
  font-style: italic;
  line-height: 1.8;
  font-size: 18px;
}

/* Opening quotation mark */
.quote-box::before {
  content: "“";
  position: absolute;
  top: -20px;
  left: 10px;
  font-size: 80px;
  color: #4CAF50;
  opacity: 0.3;
}

/* Drop cap effect */
.quote-box::first-letter {
  font-size: 45px;
  font-weight: bold;
  color: #4CAF50;
  float: left;
  margin-right: 8px;
  line-height: 1;
}

