/* Descendant Selector */
.article p {
    color: darkblue;
    font-size: 18px;
}

/* Child Selector */
.article > h2 {
    color: darkred;
    text-align: center;
}

/* Attribute Selector */
input[type="text"] {
    border: 2px solid green;
    padding: 5px;
}

/* Attribute Selector */
a {
    color: orange;
    font-weight: bold;
}
