#nav{
    background-color: gray;
    height: 30px;
    justify-content: space-around;
    display: flex;

}

.links{
    color: blue;
    text-decoration: none;
}

.active{
    color: brown;
}