
body{
   background-color: rgb(168, 152, 223);
   text-align: center;

}
.card{
   float: left;
    width: 31%;
    height: 300px;
    padding: 10px;
    margin: 10px;
    background-color: rgb(255, 255, 255);
}

.main{
    margin: auto;
    background-color: rgb(255, 255, 255);
    text-align: center;
    padding: 10px;
    margin: auto;
    width: 300px;
}
 

img{
    max-width: 300px;
}



.card img{
    width: 200px;
    background-color: #3d1d1d;


}