*{
margin:0;
padding:0;
box-sizing:border-box;
}

/* Flexbox Navigation */

.navbar{
display:flex;
justify-content:space-between;
align-items:center;
background:#1e293b;
color:white;
padding:20px;
}

.nav-links{
display:flex;
flex-direction: row;
list-style:none;
gap:20px;
}

.nav-links li{
cursor:pointer;
}

/* Flexbox Cards Section */

.cards{
display:flex;
flex-wrap:wrap;
justify-content:center;
gap:20px;
padding:40px;
}

.card{
background:#38bdf8;
color:white;
padding:40px;
width:200px;

/* Flex item properties */
flex-grow:1;
flex-shrink:1;
flex-basis:200px;

text-align:center;
border-radius:10px;
transition:0.3s;
}

.card:hover{
transform:scale(1.05);
}

/* Grid Layout */

.grid-layout{

display:grid;

grid-template-columns:200px 1fr;

grid-template-rows:80px auto 80px;

gap:10px;

grid-template-areas:
"header header"
"sidebar content"
"footer footer";

padding:20px;
}

.header{
grid-area:header;
background:#6366f1;
color:white;
display:flex;
justify-content:center;
align-items:center;
}

.sidebar{
grid-area:sidebar;
background:#f97316;
color:white;
display:flex;
justify-content:center;
align-items:center;
}

.content{
grid-area:content;
background:#22c55e;
color:white;
padding:20px;
}

.footer{
grid-area:footer;
background:#111827;
color:white;
display:flex;
justify-content:center;
align-items:center;
}


/* Responsive Design */

@media (max-width:500px){



.navbar{
flex-direction:column;
gap:10px;
}

}
